norc = true
noecho = true
shell = "/bin/bash"
session_restore_mode = "simple"

motd_args = ["motd=TMP_MOTD_MSG_FILE"]

[motd.pager]
bin = "less"
show_every = "1d"

[env]
PS1 = "prompt> "
TERM = "xterm"
