[Unit]
Description=Shpool - Shell Session Pool
Requires=shpool.socket

[Service]
Type=simple
ExecStart=%h/.cargo/bin/shpool daemon
KillMode=mixed
TimeoutStopSec=2s
SendSIGHUP=yes

[Install]
WantedBy=default.target
