Source: shpool
Section: unknown
Priority: optional
Maintainer: Ethan Pailes <pailes@debian.org>
Standards-Version: 4.0.0
Homepage: http://go/shpool-repo

Package: shpool
Architecture: amd64
Description: think tmux... then aim lower
 shpool is a shell pooler, which allows for persistant named
 shell session. This is useful when you are connecting to
 a remote server over a connection which might drop. It is
 similar to tmux and GNU screen in that it allows you to
 create a named shell session, then re-attach to it later,
 but it differs in that it does not do any multiplexing.
 This means that your local terminal emulater does all the
 work to reder the terminal output, which preserves the
 typical terminal user experience more faithfully than tmux.
 In particular, while tmux and GNU screen break scrollback
 and copy-paste, with shpool they both just work. Additionally,
 shpool is much simpler than a full terminal multiplexer, and
 therefore easier to learn.
