#!/usr/bin/make -f
#
# You can test this locally with
# ```
# dpkg-buildpackage --sanitize-env -us -uc -b -d -rfakeroot
# ```
#
# `dh clean && git checkout vendor` will remove any dangling files afterwards

export RUST_VERSION := $(shell ls ./android-rust/linux-x86 | sort -n | tail -n 1)
export PATH := $(shell pwd)/android-rust/linux-x86/${RUST_VERSION}/bin:${PATH}
export LD_LIBRARY_PATH := $(shell pwd)/android-rust/linux-x86/${RUST_VERSION}/lib:${LD_LIBRARY_PATH}
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	./debian/deb-cleanup-vendor.py
	CARGO_HOME=/tmp/cargo cargo build --release
