#!/usr/bin/make -f
#
# You can test this locally with
# ```
# dpkg-buildpackage --sanitize-env -us -uc -b -d -rfakeroot
# ```
#
# `dh clean` will remove any dangling files afterwards

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	mkdir -p debian/shpool/usr/bin
	cp target/release/shpool debian/shpool/usr/bin/shpool
	install -m0755 -d debian/shpool
