#!/usr/bin/make -f
#
# You can test this locally with
# ```
# dpkg-buildpackage --sanitize-env -us -uc -b -d -rfakeroot
# ```
#
# `dh clean` will remove any dangling files afterwards

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	./deb-cleanup-vendor.py
	cargo build --release
