name: nightly
on:
  schedule:
    - cron: '04 05 * * *'

jobs:
  deny:
    name: cargo deny --all-features check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670
        with:
          inherit-toolchain: true
          bins: cargo-deny
      - run: sudo apt-get install libpam0g-dev
      - run: cargo deny --all-features check

  postsubmit:
    uses: ./.github/workflows/presubmit.yml
